<div class="footer-container">
  <footer class="wrapper clearfix">

    <nav class="social">
      <ul>
        <li>
          <a href="https://twitter.com/kidsHtF" target="_blank"><i class="icon-twitter"></i></a>
        </li>
        <li>
          <a href="https://www.facebook.com/kidsHtF" target="_blank"><i class="icon-facebook"></i></a>
        </li>
        <li>
          <a href="/"><i class="icon-instagram"></i></a>
        </li>
        <li>
          <a href="/"><i class="icon-flickr"></i></a>
        </li>
      </ul>
    </nav>

    <nav>
      <ul>
        <li>
          <a href="/terms">Terms</a>
        </li>
        <li>
          <a href="/media">Media</a>
        </li>
      </ul>
    </nav>
  </footer>
</div>