<div class="header-container">
  <header class="wrapper clearfix">
    <h1>HACK THE FUTURE</h1>
    <nav>
      <ul>
        <li>
          <a href="#">What Is It</a>
        </li>
        <li>
          <a href="#">Mentors</a>
        </li>
        <li>
          <a href="#">Sponsors</a>
        </li>
      </ul>
    </nav>
  </header>
</div>