<div class="header-container">
  <header class="wrapper clearfix">
    <h1>HACK THE FUTURE</h1>
    <nav>
      <ul>
        <li>
          <a href="/">What Is It</a>
        </li>
        <li>
          <a href="/mentors">Mentors</a>
        </li>
        <li>
          <a href="/sponsors">Sponsors</a>
        </li>
        <li>
          <a href="/">Sign Up Your Child</a>
        </li>
      </ul>
    </nav>
  </header>
</div>