<div class="header-container">
  <header class="wrapper clearfix">
    <h1>HACK THE FUTURE</h1>
    <nav>
      <ul>
        <li>
          <a href="/index">About</a>
        </li>
        <li>
          <a href="/mentors">Mentors</a>
        </li>
        <li>
          <a href="/sponsors">Sponsors</a>
        </li>
        <li>
          <a href="#" class="md-trigger" data-modal="modal-contact">Contact</a>
        </li>
        <li>
          <a href="#" class="md-trigger" data-modal="modal-signup">Sign Up</a>
        </li>
      </ul>
    </nav>
  </header>
</div>

<div class="md-modal md-effect-11" id="modal-signup">
  <div class="md-content">
    <h3>Signup</h3>     <a href="#" class="md-close">[ exit ]</a>
    <div>
      <!--<fieldset>-->
        <!--<label>Your Name</label>-->
        <!--<input type="text" value="">-->

        <!--<label>Email</label>-->
        <!--<input type="text" value="">-->

        <!--<label>Phone</label>-->
        <!--<input type="text" value="">-->

        <!--<label>Role</label>-->
        <!--<input type="text" value="">-->

        <!--<label>Company</label>-->
        <!--<input type="text" value="">-->

        <!--<label>About You</label>-->
        <!--<textarea></textarea>-->
      <!--</fieldset>-->

      <button class="modal-submit">Sign Up</button>
    </div>
  </div>
</div>

<div class="md-modal md-effect-11" id="modal-contact">
  <div class="md-content">
    <h3>Contact Us</h3>     <a href="#" class="md-close">[ exit ]</a>
    <div>
      <fieldset>
        <label>Your Name</label>
        <input type="text" value="">

        <label>Email</label>
        <input type="text" value="">

        <label>Phone</label>
        <input type="text" value="">

        <label>About You</label>
        <textarea></textarea>
      </fieldset>

      <button class="modal-submit">Submit</button>
    </div>
  </div>
</div>

<div class="md-overlay"></div>

<div class="md-overlay"></div>

