<div class="header-container">
  <header class="wrapper clearfix">
    <h1>HACK THE FUTURE</h1>
    <nav>
      <ul>
        <li>
          <a href="#">What Is It</a>
        </li>
        <li>
          <a href="#">Become a Sponsor</a>
        </li>
        <li>
          <a href="#">Become a Mentor</a>
        </li>
      </ul>
    </nav>
  </header>
</div>