<div id="next">
  <h1>
    Next Hack The Future
  </h1>
  <h2>Date:</h2>
  <h2>Time:</h2>
  <h2>Location:</h2>

  <button>
    Register
  </button>

  <fieldset>
    <label>
      Sign Up To Get Updates
    </label>
    <input type="text" placeholder="enter your email address">
    <button>
      Submit
    </button>
  </fieldset>
</div>

<div id="what">
  <h1>
    What is Hack the Future.
  </h1>
  <p>
    - Overview
    - Learning Party / Food
    - Hacking?
    - Stuff for Parents to Do
    - Equipment Needed
    - Food
    - Activities
    - Social
    - Leadership
  </p>
  <button>
    Sign Up Your Child
  </button>
</div>

<div id="who">
  <h1>
    Who are we.
  </h1>
  <p>
    - Leadership
    - Mentors
    - Skills / Advisors
  </p>
  <button>
    Become a Mentor
  </button>
</div>

<div id="help">
  <h1>
    How you can help.
  </h1>
  <p>
    - Leadership
    - Mentors
    - Skills / Advisors
  </p>
  <button>
    Sponsor
  </button>
</div>
