<div id="next2">
  <div class="content">
    <div class="event">
      <h1>
        Hack The Future is a PARTY Where Kids Kids aged 10-19 learn from Mentors and Other Kids by Doing, Playing, and Exploring.
      </h1>

      <h1>
        Next Hack The Future
      </h1>
      <h2>> Saturday, August 24th > 10am - 5pm > San Jose Tech Museum </h2>

      <fieldset>
        <label>
          <h2>
            Enter Email For Updates <span class="blink"></span>
          </h2>
        </label>
        <!--Use Jquery-->
        <input id="email" type="text" value="Enter Your Email" onfocus="document.getElementsByClassName('blink')[0].style.display='none'; (this.value == 'Enter Your Email') && (this.value = '')"
               onblur="(this.value == '') && (this.value = 'Enter Your Email')" >
      </fieldset>

      <button>
        Sign Up Your Child
      </button>

    </div>

    <!--<img src="../images/robot.svg">-->

  </div>
</div>

<!--<div id="what">-->
  <!--&lt;!&ndash;<header>&ndash;&gt;-->
  <!--&lt;!&ndash;</header>&ndash;&gt;-->
  <!--<div class="content">-->
    <!--<h1>-->
      <!--What is Hack the Future?-->
    <!--</h1>-->
    <!--<h2>Hacking is Learning by:</h2>-->
    <!--<h2>Doing, Playing, and Exploring</h2>-->

    <!--<h1>It's a PARTY!</h1>-->

    <!--<h2>Where Kids learn from Mentors and Other Kids</h2>-->

    <!--<p>What Do I Need? (Equipment, Programs, etc)</p>-->
    <!--<p>What Activities (include a bit on leadership)</p>-->
    <!--<p>Social & Food</p>-->
    <!--<p>Even Stuff for parents to do.</p>-->

    <!--<p>-->
      <!--Hack The Future is a party. It's self-directed hackathon for future hackers.-->

      <!--Are you a smart young person aged 10-19?-->
      <!--Want to hang out with some adult geeks? We can show you some awesome stuff they can't teach you in school.-->
    <!--</p>-->

    <!--<button>-->
      <!--Sign Up Your Child-->
    <!--</button>-->
  <!--</div>-->
<!--</div>-->

<div id="help">
  <div class="content">
    <h1>
      How you can help?
    </h1>
    <p>
      Hack The Future is completely volunteer run. We team with professionals in Silicon Valley to ensure the highest level of mentorship.
      We charge nothing to participants as we want to make sure the program is accessible by families from all walks of life.
    </p>
    <button>
      Become a Mentor
    </button>
    <button>
      Become a Sponsor
    </button>
  </div>
</div>