<div id="who">
  <div class="content">
    <h1>
      Who are we.
    </h1>
    <p>
      NBC Bay Area
      See Hack the Future cofounder Joe Mathes and future hacker Ryan Mitra interviewed by NBC Bay Area prior to Hack the Future 1.
      San Francisco Chronicle
      Read SF Chronicle's article about Hack the Future 2 online.
      KQED
      Watch this PBS video about Al Alcorn. He's famous, so his being at Hack the Future got us into the video.
    </p>
    <button>
      Become a Mentor
    </button>
  </div>

  <div id="help">
    <h1>
      How you can help.
    </h1>
    <p>
      - Leadership
      - Mentors
      - Skills / Advisors
    </p>
    <button>
      Sponsor
    </button>
  </div>
</div>
