<div id="who">
  <header>
    <h1>
      We Team Kids With Programmers, Designers, and Educators to Engage and Facilitate.
    </h1>
  </header>
</div>

<div id="who-more">
  <div class="content">
    <h1>
      Why Mentor
    </h1>
    <p>
      - Why Mentor
      - Sense of what it's like to be a mentor
      - Expectations / time commitments
      - What makes a good mentor
      - Mentor roles
      - Knowledge needed
      - Next Steps
      - Mentor roles (floaters, table captains) explanation
      - Knowledge needed
    </p>
    <button class="md-trigger" data-modal="modal-mentor">Become a Mentor
    </button>
  </div>
</div>

<div class="md-modal md-effect-11" id="modal-mentor">
  <div class="md-content">
    <h3>Become a Mentor</h3>      <a href="#" class="md-close">[ exit ]</a>
    <div>
      <fieldset>
        <label>Your Name</label>
        <input type="text" value="">

        <label>Email</label>
        <input type="text" value="">

        <label>Phone</label>
        <input type="text" value="">

        <label>Role</label>
        <input type="text" value="">

        <label>Company</label>
        <input type="text" value="">

        <label>About You</label>
        <textarea></textarea>
      </fieldset>

      <button class="modal-submit">Submit</button>
    </div>
  </div>
</div>

<div class="md-overlay"></div>