<div id="sponsor">
  <header>
    <h1>
      Help Create a Better Future by Engaging Kids Through Technology and Building
    </h1>
  </header>
</div>

<div id="sponsor-more">
  <div class="content">
    <h1>
      We're Completely Volunteer Run, Free to Attend and Could Use Your Help.
    </h1>

    <h1>
      How You Can Help
    </h1>
    <h2>Become a Fiscal Sponsor</h2>
    <h2>Donate Space for a Hack The Future Event</h2>
    <h2>Donate a Laptop</h2>
    <button class="md-trigger" data-modal="modal-sponsor">
      Get Involved
    </button>
  </div>
</div>

<div id="sponsor-list">
  <div class="content">
    <h1>
      Our Generous Sponsors
    </h1>
    <ul class="sponsors">
      <li>
        Sponsor
      </li>
      <li>
        Sponsor
      </li>
      <li>
        Sponsor
      </li>
      <li>
        Sponsor
      </li>
      <li>
        Sponsor
      </li>
      <li>
        Sponsor
      </li>
    </ul>
  </div>
</div>

<div class="md-modal md-effect-11" id="modal-sponsor">
  <div class="md-content">
    <h3>Become a Sponsor</h3>
    <a href="#" class="md-close">[ close ]</a>
    <div>
      <fieldset>
        <label>Your Name</label>
        <input type="text" value="">

        <label>Email</label>
        <input type="text" value="">

        <label>Phone</label>
        <input type="text" value="">

        <label>Role</label>
        <input type="text" value="">

        <label>Company</label>
        <input type="text" value="">

        <label>Message</label>
        <textarea></textarea>
      </fieldset>

      <button class="modal-submit">Submit</button>
    </div>
  </div>
</div>

<div class="md-overlay overlay-sponsor"></div>
