<div id="sponsor">
  <div class="content">
    <h1>
      Why Help?
    </h1>
    <p>
      Opportunity to sponsor Hack the Future

      There is no fee charged to the participants.
      Mentors are volunteers.
      Students receive a t-shirt, food in addition to mentoring.
      Audience Impact: 110 students plus their parents.

      Investment Range:
      $100 - $300

      Additional Opportunities:
      Loan 10-20 Laptops (add detailed specs)

      Recognition and Benefits:
      Your logo on the T-shirts and press materials.
      Mention as a sponsor in press materials.
      Another generation of potential engineering hires.
      30+ grateful, talented mentors.
      Retirement in a world full of magic future technology made by the hackers of the future.
    </p>

    <h2>Sponsor Benefits</h2>
    <p>
    <ul>
      <li>Your logo on the T-shirts and press materials.</li>
      <li>Mention as a sponsor in press materials.</li>
      <li>Another generation of potential engineering hires.</li>
      <li>30+ grateful, talented mentors.</li>
      <li>Retirement in a world full of magic future technology made by the hackers of the future.</li>
    </ul>
    </p>

    <h1>
      What We Need
    </h1>
    <p>
      - Cash
      - Services
      - Locations
    </p>

    <h1>
      Our Generous Sponsors
      <button class="md-trigger" data-modal="modal-sponsor">
        Get Involved
      </button>
    </h1>
    <ul class="sponsors">
      <li>
        Sponsor
      </li>
      <li>
        Sponsor
      </li>
      <li>
        Sponsor
      </li>
      <li>
        Sponsor
      </li>
      <li>
        Sponsor
      </li>
      <li>
        Sponsor
      </li>
    </ul>
  </div>
</div>

<div class="md-modal md-effect-11" id="modal-sponsor">
  <div class="md-content">
    <h3>Become a Sponsor</h3>
    <div>
      <p>This is a modal window. You can do the following things with it:</p>
      <ul>
        <li><strong>Read:</strong> modal windows will probably tell you something important so don't forget to read what they say.</li>
        <li><strong>Look:</strong> a modal window enjoys a certain kind of attention; just look at it and appreciate its presence.</li>
        <li><strong>Close:</strong> click on the button below to close the modal.</li>
      </ul>
      <button class="md-close">Close me!</button>
    </div>
  </div>
</div>

<div class="md-overlay"></div>
