<div id="sponsor">
  <div class="content">
    <h1>
      Why Help?
    </h1>
    <p>
      Opportunity to sponsor Hack the Future

      There is no fee charged to the participants.
      Mentors are volunteers.
      Students receive a t-shirt, food in addition to mentoring.
      Audience Impact: 110 students plus their parents.

      Investment Range:
      $100 - $300

      Additional Opportunities:
      Loan 10-20 Laptops (add detailed specs)

      Recognition and Benefits:
      Your logo on the T-shirts and press materials.
      Mention as a sponsor in press materials.
      Another generation of potential engineering hires.
      30+ grateful, talented mentors.
      Retirement in a world full of magic future technology made by the hackers of the future.
    </p>
    <h1>
      What We Need
    </h1>
    <p>
      - Cash
      - Services
      - Locations
    </p>
    <button>
      Sponsor
    </button>

    <h1>
      Our Generous Sponsors
      <button>
        Get Involved
      </button>
    </h1>
    <ul class="sponsors">
      <li>
        Sponsor
      </li>
      <li>
        Sponsor
      </li>
      <li>
        Sponsor
      </li>
      <li>
        Sponsor
      </li>
      <li>
        Sponsor
      </li>
      <li>
        Sponsor
      </li>
    </ul>
  </div>
</div>
